<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="dist/bundle.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.7.8/dist/vue.js"></script> -->
    <title>Calculator</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div id="app">
      <div class="grid">
        <input
          v-on:keyup.enter="calc()"
          type="text"
          v-model="result"
          placeholder="0"
        />
        <button v-on:click="input(num)" class="cell num" v-for="num in numbers">
          {{num}}
        </button>
        <button v-on:click="input(op)" class="cell op" v-for="op in operations">
          {{op}}
        </button>
        <button v-on:click="reset()" class="cell op">R</button>
        <button v-on:click="calc()" class="cell op">=</button>
      </div>
    </div>
  </body>
  <script src="script.js"></script>
</html>
